@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Bowlby+One&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

    --black: #000000;
    --gray: #eeeeee;
    --medgray: #979797;
    --darkgray: #747474;
    --lightblue: #f7f6ff;
    --red: #fd2727;
    --green: #10eb3f;
    --white: #ffffff;
    --palepink: #fff5f6;
    --pink: #f14b61;
    --border-pink: #bb8383;
    --bradius: 20px;
}

.form-container{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
.login-form{
    position: absolute;
    display: flex;
    gap: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: fit-content;
    background-color: var(--white);
    border-radius: var(--bradius);
}
.signup-form{
    position: absolute;
    display: none;
    gap: 5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: fit-content;
    background-color: var(--white);
    height: fit-content;
    border-radius: var(--bradius);
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.right img{
    width: 300px;
}
.right h1{
    font-size: 50px;
}
.right span{
    color: var(--pink);
}
.left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width:200px;
}

.form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form-inputs h1{
    font-weight: 600;
    font-size: 13px;
}
.form-inputs input{
    margin: 0 10px 0 10px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
}
.input-container{
    display: flex;
    padding: 10px 0 10px 0;
    border-bottom: 2px solid var(--pink);
}
.input-container i{
    color: var(--pink);
}
.form-buttons{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.form-buttons p{
    font-size: 15px;
}
.form-buttons a{
    width: fit-content;
    color: var(--pink);
    font-size: 15px;
}
.form-buttons button{
    cursor: pointer;
    border: none;
    border-radius: var(--bradius);
    background-color: var(--pink);
    color: var(--white);
    padding: 8px 14px;
}
.continue{
    display: flex;
    margin: auto;
}
.form-title h1{
    font-size: 1.5rem;
}
.form-title p{
    font-size: 13px;
}



/* -------------------------------HOBBIES CSS--------------------------------------- */
.hobbies-container{
    position: absolute;
    top: 50%;
    left: 50%;
    height: fit-content;
    width: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px;
    background-color: var(--white);
}
.hobbies-title{
    text-align: center;
}
.hobbies-choices{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.hob{
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 1rem;
    flex-grow: 1;
}
.hob p{
    color: var(--white);
    font-weight: 500;
}
.hob i{
    font-size: 40px;
}
.hob h2{
    font-size: 1rem;
    color: var(--white);
}
.pink i{
    color: #661524;
}
.purple i{
    color: #180c55;
}
.green i{
    color: #07554e;
}
.blue i{
    color: #150a46;
}
.hob:nth-child(1){
    background-color: #ff6380;
}
.hob:nth-child(2){
    background-color: #9385da;
}
.hob:nth-child(3){
    background-color: #36da95;
}
.hob:nth-child(4){
    background-color: #4daeff;
}
.hob:nth-child(5){
    background-color: #ff6380;
}
.hob:nth-child(6){
    background-color: #9385da;
}
.hob:nth-child(7){
    background-color: #36da95;
}
.hob:nth-child(8){
    background-color: #4daeff;
}
.hob:nth-child(9){
    background-color: #ff6380;
}
.hob:nth-child(10){
    background-color: #9385da;
}
.hob:nth-child(11){
    background-color: #36da95;
}
.hob:nth-child(12){
    background-color: #4daeff;
}
.hob:nth-child(13){
    background-color: #ff6380;
}
.hob:nth-child(14){
    background-color: #9385da;
}
.hob:nth-child(15){
    background-color: #36da95;
}
.hob:nth-child(16){
    background-color: #4daeff;
}
.hob:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.hob-chosen{
    filter: grayscale();
}
.proceed{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.proceed button{
    cursor: pointer;
    border-radius: var(--bradius);
    border: none;
    padding: 8px 14px;
    background-color: var(--pink);
    color: white;
    width: 100px;
    font-weight: 500;
}
.success{
    box-shadow: none;
}
/* -------------------------------HOBBIES CSS--------------------------------------- */
@media (max-width: 685px){
    .right{
        display: none;
    }
    .login-form{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        width: 90vw;
    }
    .login-form, .signup-form{
        box-shadow: none;
        padding: 0;
    }
}
@media (max-width: 430px){
    .login-form, .signup-form{
        box-shadow: none;
        padding: 0;
    }
    .right{
        display: none;
    }
    .login-form{
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        width: 90vw;
    }
    .signup-form{
        justify-content: center;
        width: 90vw;
        box-shadow: 0;
    }
    .hobbies-container{
        top: 0;
        left: 0;
        transform: translate(0);
        width: 100vw;
    }
    .success{
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 375px){
    .right{
        display: none;
    }
}